################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowstoWeb/.vs/WindowstoWeb/v16/Server/sqlite3
